.col {
    border: 2px solid black;
    text-align: center;
    font-weight: bolder;
    position: relative;
    height: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}
